body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}
.header_main {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: none;
  padding: 0;
}
.header_dash {
  width: 100%;
  height: 150px;
  background-color: #eeffff;
  padding: 0;
}
.header_title {
  color: grey;
  position: absolute;
  left: 50%;
  padding: 0;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 90vw;
  opacity: 1;
  /* background-color: rgb(206, 119, 119); */
  top: 95px;
  /* overflow: hidden; */
}

.header_avatar {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  /* background-color: rgb(206, 119, 119); */
  /* overflow: hidden; */
}

.header_buttons {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.header_backbtn {
  position: absolute;
  top: 3%;
  left: 5%;
  transform: scale(1.4);
}
.header_logo {
  height: 70px;
  width: 70px;
}
.header_profile {
  position: absolute;
  right: 5%;
  top: 3%;
  transform: scale(1.4);
}
h1,
p {
  font-family: Lato;
}

.eventCard_mainWrapper {
  /* padding: 100px; */
  width: 90vw;
  /* height: 90vh; */
  position: relative;
  margin: auto;
}

.evcard{
  height: 100%;
  width: 100%;
  /* border-radius: 15px; */
}
.ant-card-body{
  height: 100%;
}
.catCard_mainWrapper {
  /* padding: 100px; */
  width: 90vw;
  height: 100px;
  position: relative;
  margin: auto;
}
.categorytext {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catcard {
  width: 100%;
  height: 100%;

}
.center-text{
  text-align: center;
  
}

/*myreg*/
.myreg-status{
    font-size: 20px;
    background-color: cadetblue;
    margin: 0px 2px;
    border-radius: 5px;
    padding-left: 2px;
    padding-bottom: 0.001px;
    display: flex;
    justify-content: center;
}
.myreg-status .myreg-bold{
    font-weight: 600;
    margin: 2px;
}
.myreg-status p{
    display: inline;
    font-weight: 400;
    margin: 2px;
    font-size: 0.3em;
}
.announcement{
    background-color: cadetblue;
    margin: 5px 2px;
    border-radius: 5px;
    padding: 2px 4px;
}
.announcement h6 ,.team h6,.submission h6{
    font-size: 0.4em;
    margin: 0px;
    margin-left: 10px;
}
.announcement p{
    font-size: 0.2em;
    margin: 6px 15px;
}
.team{
    padding-bottom: 5px;
    text-align: center;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: cadetblue;
    margin: 5px 2px;
    border-radius: 5px;
}
.team h5{
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 0.3em;
    margin-top: 0px;
}
.teammembers{
    margin-bottom: 0.2em;
    margin-top: 0px;
    font-size: 11px;
}
.team .button,.team .button:enabled{
    font-size: small;
    color: rgb(255, 255, 255);
    background-color: cadetblue;
    border: none;
}
.submission{
    padding-bottom: 5px;
    text-align: center;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: cadetblue;
    margin: 5px 2px;
    border-radius: 5px;
}

